<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  
  <form [formGroup]="createUserForm" (submit)="updateUser()">
    <ion-item>
      <ion-label stacked>User Name</ion-label>
      <ion-input
        formControlName="userName"
        type="text"
       
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>User Email</ion-label>
      <ion-input
        formControlName="userEmail"
        type="text"
        
       
      >
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>User Number</ion-label>
      <ion-input
        formControlName="userNumber"
        type="text"
       
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>State</ion-label>
      <ion-select placeholder="Select One"  formControlName="userState"   (ionChange)="chooseState($event)">
        <ion-select-option *ngFor="let state of states"  [value]="state.id" >{{state.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-select  placeholder="Select City"   formControlName="userCity"  (ionChange)="chooseCity($event)" >
        <ion-select-option  *ngFor="let city of selected_cites" [value]="city.name">{{city.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div>
      <img [src]="uploadFileUrl"/>
    </div>
   
     
    <div style="    margin-bottom: 19px;
    margin-left: 6px;">

   
      <div style="    position: absolute;
      background-color: #3880ff;
      color: white;
      padding: 12px;
      /* margin-bottom: 12px; */
      border-radius: 5px;">
        Take Picture
      </div>

      <input style="    z-index: 9999;
      opacity: 0;"  type="file"   [accept]="accept_files" (change)="getImage($event)">
   </div>
   

    <ion-button (click)="uploadImage()"> Upload Image </ion-button>
    
    <ion-button expand="block" type="submit">
     Upadte
    </ion-button>
  </form>


</ion-content>
